.travel{
    font-size: 38px;
    color: rgb(237, 145, 7);
}
.tour{
    font-size: 38px;
    color: rgb(252, 82, 82);
}
.logo{
    margin-left: 20px;
}

@media all and (max-width: 450px) {
    .logo{
        margin-left: 35px;
    }
    
}